*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
	font-family: sans-serif;
	text-align: center;
    background-color: #D5B627;
	color: #836C00;
	text-justify: left;
}

.wrapper {
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

header {
	text-align: center;
	padding: 20px;
	padding-top: 0px;
	color: #023756;
}

#result {
    text-align: center;
    font-size: 135%;
    letter-spacing: 1px;
    height: 26px;
    padding: 10px;
}

.option {
    font-size: 125%;
    margin-bottom: 5%;
}

.option input {
    float: right;
}

#generatebutton {
	border: none;
	background-color: #836C00;
	border-radius: 25px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
	  0px;
	color: #FFE880;
	display: inline-block;
	font-size: 22px;
	line-height: 22px;
	margin: 16px 16px 16px 20px;
	padding: 14px 34px;
	text-align: center;
	cursor: pointer;
  }

  @media (max-width: 690px) {
	.btn {
	  font-size: 1rem;
	  margin: 16px 0px 0px 0px;
	  padding: 10px 15px;
	}
  
	#result {
	  font-size: 1rem;
	}
  }
  
  @media (max-width: 500px) {
	.btn {
	  font-size: 0.8rem;
	}
  }

